AOC Day 1 - 2021/AOC Day 1 - 2021/bin/Debug/net5.0/AOC Day 1 - 2021.deps.json
AOC Day 1 - 2021/AOC Day 1 - 2021/bin/Debug/net5.0/AOC Day 1 - 2021.dll
AOC Day 1 - 2021/AOC Day 1 - 2021/bin/Debug/net5.0/AOC Day 1 - 2021.exe
AOC Day 1 - 2021/AOC Day 1 - 2021/bin/Debug/net5.0/AOC Day 1 - 2021.pdb
AOC Day 1 - 2021/AOC Day 1 - 2021/bin/Debug/net5.0/AOC Day 1 - 2021.runtimeconfig.dev.json
AOC Day 1 - 2021/AOC Day 1 - 2021/bin/Debug/net5.0/AOC Day 1 - 2021.runtimeconfig.json
AOC Day 1 - 2021/AOC Day 1 - 2021/obj/AOC Day 1 - 2021.csproj.nuget.dgspec.json
AOC Day 1 - 2021/AOC Day 1 - 2021/obj/AOC Day 1 - 2021.csproj.nuget.g.props
AOC Day 1 - 2021/AOC Day 1 - 2021/obj/AOC Day 1 - 2021.csproj.nuget.g.targets
AOC Day 1 - 2021/AOC Day 1 - 2021/obj/project.assets.json
AOC Day 1 - 2021/AOC Day 1 - 2021/obj/project.nuget.cache
AOC Day 1 - 2021/AOC Day 1 - 2021/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
AOC Day 1 - 2021/AOC Day 1 - 2021/obj/Debug/net5.0/AOC Day 1 - 2021.AssemblyInfo.cs
AOC Day 1 - 2021/AOC Day 1 - 2021/obj/Debug/net5.0/AOC Day 1 - 2021.AssemblyInfoInputs.cache
AOC Day 1 - 2021/AOC Day 1 - 2021/obj/Debug/net5.0/AOC Day 1 - 2021.assets.cache
AOC Day 1 - 2021/AOC Day 1 - 2021/obj/Debug/net5.0/AOC Day 1 - 2021.csproj.AssemblyReference.cache
AOC Day 1 - 2021/AOC Day 1 - 2021/obj/Debug/net5.0/AOC Day 1 - 2021.csproj.BuildWithSkipAnalyzers
AOC Day 1 - 2021/AOC Day 1 - 2021/obj/Debug/net5.0/AOC Day 1 - 2021.csproj.CoreCompileInputs.cache
AOC Day 1 - 2021/AOC Day 1 - 2021/obj/Debug/net5.0/AOC Day 1 - 2021.csproj.FileListAbsolute.txt
AOC Day 1 - 2021/AOC Day 1 - 2021/obj/Debug/net5.0/AOC Day 1 - 2021.dll
AOC Day 1 - 2021/AOC Day 1 - 2021/obj/Debug/net5.0/AOC Day 1 - 2021.GeneratedMSBuildEditorConfig.editorconfig
AOC Day 1 - 2021/AOC Day 1 - 2021/obj/Debug/net5.0/AOC Day 1 - 2021.genruntimeconfig.cache
AOC Day 1 - 2021/AOC Day 1 - 2021/obj/Debug/net5.0/AOC Day 1 - 2021.pdb
AOC Day 1 - 2021/AOC Day 1 - 2021/obj/Debug/net5.0/apphost.exe
AOC Day 1 - 2021/AOC Day 1 - 2021/obj/Debug/net5.0/ref/AOC Day 1 - 2021.dll
AOC Day 1 - 2021/AOC Day 1 - 2021/obj/Debug/net5.0/refint/AOC Day 1 - 2021.dll
